<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @prescription.date %>
</p>

<p>
  <strong>Body:</strong>
  <%= @prescription.body %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient %>
</p>

<p>
  <strong>Consultation:</strong>
  <%= @prescription.consultation %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
