<div class="big-padding text-center blue-grey white-text">
	<h1>Listado de consultas</h1>
</div>
<div class="container">
	<table class="table table-bordered white">
		<thead>
			<tr>
				<th>Paciente</th>
				<th>Tipo</th>
				<th>Lugar</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<% @consultations.each do |consultation| %>
				<tr>
					<td><%= consultation.patient.first_name %></td>
					<td><%= consultation.other %></td>
					<td><%= consultation.place %></td>
					<td><%= consultation.date %></td>
					<td><%= link_to 'Mostrar', consultation %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="floating">
	<%= button_to new_consultation_path(), class: 'btn btn-info btn-fab', method: :get do %>
		<i class="material-icons">add</i>
	<% end %>
</div>
