<div class="container text-center">
	<div class="card patient text-left">
		<div class="actions absolute">
			<%= @consultation.date %>
		</div>
		<h1><%=@consultation.patient.first_name%> <%= @consultation.patient.last_name%></h1>
		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<strong>Tipo</strong>
				<p><%= @consultation.other %></p>
				<strong>Lugar</strong>
				<p><%= @consultation.place %></p>
				<h3>Anotaciones de la consulta</h3>
				<p><%= @consultation.annotations %></p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<strong>Diagnostico: </strong>
				<p><%= @consultation.diagnosis %></p>
				<%=link_to 'enviar email', consultation_path, class: 'btn btn-inverse' %>
			</div>        
		</div>
	</div>
</div>
	<div class="container top-space">
	<div class="card patient text-left">

	<h3>Mediciones</h3>
		<div class="row text-center">
			<div class="col-xs-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-justified light-blue" role= "tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#general" role="tab">
							General
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#embarazo_actual" role="tab">Embarazo Actual</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#parto" role="tab">Parto/Aborto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#recien_nacido" role="tab">Recien Nacido</a>
					</li>
				</ul>
				<!-- Tab panels -->
				<% if @consultation.measurements.any? %>
					<% @consultation.measurements.each do |measurement| %>
						<div class="tab-content">
							<!--Panel 1-->
							<div class="tab-pane fade active" id="general" role="tabpanel">
								<div class="top-space">
										<div class="col-sm-6 col-xs-12">
											<p><strong>Altura</strong></p>
											<p><%= measurement.height%></p>
											<p><strong>Peso</strong></p>
											<p><%= measurement.weight%></p>
											<p><strong>Temperatura</strong></p>
											<p><%= measurement.temperature%></p>
										</div>
										<div class="col-sm-6 col-xs-12">
											<p><strong>Presion sanguinea</strong></p>
											<p><%= measurement.blood_pressure%></p>
											<p><strong>Ritmo cardiaco</strong></p>
											<p><%= measurement.heart_rate%></p>
											<p><strong>Frecuencia pulmonar</strong></p>
											<p><%= measurement.breathing_frequency%></p>
											<p><strong>Anotaciones</strong></p>
											<p><%= measurement.annotations%></p>
										</div>
								</div>
							</div>
							<!--Panel 2-->
							<div class="tab-pane fade" id="embarazo_actual" role="tabpanel">
								<div class="top-space">
										<div class="col-sm-6 col-xs-12">
											<p><strong>Talla</strong></p>
											<p><%= measurement.talla%></p>
											<p><strong>FUM</strong></p>
											<p><%= measurement.fum%></p>
											<p><strong>Fuma?</strong></p>
											<p><%= measurement.fuma%></p>
											<p><strong>Antitetanica</strong></p>
											<p><%= measurement.antitetanica%></p>
										</div>
										<div class="col-sm-6 col-xs-12">
											<p><strong>Semanas amenorreas</strong></p>
											<p><%= measurement.semanas_amenorrea%></p>
											<p><strong>Tension arterial</strong></p>
											<p><%= measurement.tension_arterial%></p>
											<p><strong>FCF</strong></p>
											<p><%= measurement.FCF %></p>
										</div>
								</div>
							</div>
							<!--Panel 3-->
							<div class="tab-pane fade" id="parto" role="tabpanel">
								<div class="top-space">
										<div class="col-sm-6 col-xs-12">
											<p><strong>Edad de gestacion</strong></p>
											<p><%= measurement.edad_gestacion%></p>
											<p><strong>Tamaño fetal acorde?</strong></p>
											<p><%= measurement.tamanio_fetal_acorde%></p>
											<p><strong>Contracciones</strong></p>
											<p><%= measurement.contracciones%></p>
											<p><strong>Dilatacion cerv.</strong></p>
											<p><%= measurement.dilatacion_cerv%></p>
										</div>
										<div class="col-sm-6 col-xs-12">
											<p><strong>Tiempo de terminacion</strong></p>
											<p><%= measurement.date%></p>
											<p><strong>Muerte intrauterina?</strong></p>
											<p><%= measurement.muerte_intraut%></p>
											<p><strong>Episiotomia</strong></p>
											<p><%= measurement.episiotomia%></p>
											<p><strong>Desgarros</strong></p>
											<p><%= measurement.desgarros%></p>
										</div>
								</div>
							</div>
							<!--Panel 4-->
							<div class="tab-pane fade" id="recien_nacido" role="tabpanel">
									<div class="top-space">
										<div class="col-sm-6 col-xs-12">
											<p><strong>Sexo del recien nacido</strong></p>
											<p><%= measurement.sexo%></p>
											<p><strong>Peso al nacer</strong></p>
											<p><%= measurement.peso_al_nacer%></p>
											<p><strong>Talla al nacer</strong></p>
											<p><%= measurement.talla_al_nacer%></p>
										</div>
										<div class="col-sm-6 col-xs-12">
											<p><strong>Semanas de amenorrea </strong></p>
											<p><%= measurement.semanas_amenorrea%></p>
											<p><strong>Edad por examen fisico</strong></p>
											<p><%= measurement.edad_por_ex_fisico%></p>
											<p><strong>Patologias</strong></p>
											<p><%= measurement.patologias%></p>
										</div>
									</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>

