<header>
 <nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<%= link_to 'Doctors Co', root_path(), class: 'navbar-brand' %>
		</div>
		<ul class="nav navbar-nav">
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li> <%= link_to 'Pacientes', patients_path()%></li>
				<li> <%= link_to 'Consultas', consultations_path()%></li>
				<li> <%= link_to 'Citas', events_path()%></li>
				<li><%= link_to 'Buscar', search_new_path ,method: :get, remote: true %></li>
				<li> <%= link_to 'Comunidad', posts_path()%></li>
				<li><%= link_to 'Mi perfil', current_user %></li>
				<li><%= link_to 'Cerrar Sesion', destroy_user_session_path,method: :delete %></li>
			<% else %>
				<li><%= link_to 'Iniciar sesion', new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
</nav> 
</header>
<div id="buscador" style="display: none;"></div>