<div class="big-padding text-center blue-grey">
	<h3 class="white-text">Bienvenido <%= @user.email %></h3>
</div>
<div class="top-space container">
	<h2 class="blue-text">Citas de hoy</h2>
</div>
<% @events.each do |event| %>
	<% if Date.today == event.date %>
		<div class="container text-center top-space">
			<div class="card patient text-left">
				<div class="actions absolute">
					<%= link_to "Editar", edit_event_url(event), class: ""%>
					<%= link_to "Eliminar", event,method: :destroy, class: "red-text"%>
				</div>
				<p><strong>Paciente </strong></p><h1 class="be-medium"><%=event.patient.first_name%> <%= event.patient.last_name%></h1>
				<div class="row">
					<div class="col-sm-8 col-xs-12 text-center">
							<p>Hora: <strong class="be-medium"><%= event.time.strftime('%H:%M') %></strong></p>
					</div>
					<div class="col-sm-4 col-xs-12 text-right">
						<%=link_to 'Ver cita', event , class: 'btn btn-inverse' %>
					</div>				
				</div>
			</div>
		</div>
	<% end %>
<% end %>
