<%= form_for @contact do |form| %>
	<% if @contact.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize( contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

			<ul>
			<% contact.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= form.email_field :email, id: :contact_email, class: 'mdl-textfield__input' %>
		<%= form.label 'Tu correo', class: 'mdl-textfield__label' %>
	</div>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= form.text_field :name, id: :contact_email, class: 'mdl-textfield__input' %>
		<%= form.label 'Tu nombre' , class: 'mdl-textfield__label' %>
	</div>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= form.text_field :subject, id: :contact_email, class: 'mdl-textfield__input' %>
		<%= form.label 'Asunto', class: 'mdl-textfield__label' %>
	</div>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<%= form.text_area :body, id: :contact_email, class: 'mdl-textfield__input',rows: "5" %>
		<%= form.label 'En que podemos ayudarte...' , class: 'mdl-textfield__label' %>
	</div>

	<div class="actions">
		<%= form.submit 'Enviar', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
	</div>
<% end %>
