<div class="big-padding text-center blue-grey  white-text">
	<h1>Listado de Pacientes</h1>
</div>
<div class="container">
	<table class="table table-bordered white">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Correo electronico</th>
				<th>Telefono</th>
				<th>Edad</th>
				<th>Sexo</th>
				<th>Pais</th>
				<th>Ciudad</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @patients.each do |patient|%>
				<tr>
					<td><%= patient.id %></td>
					<td><%= patient.first_name %></td>
					<td><%= patient.last_name %></td>
					<td><%= patient.email %></td>
					<td><%= patient.phone %></td>
					<td><%= patient.age %></td>
					<td><%= patient.sex %></td>
					<td><%= patient.country %></td>
					<td><%= patient.city %></td>
					<td>
						<%= link_to 'Ver', patient, class: 'text-info' %>
						<%= link_to 'Editar', edit_patient_path(patient), class: 'text-secondary' %>
					</td>
				</tr>				
			<%end%>
		</tbody>
	</table>
</div>
<div class="floating">
	<%= button_to new_patient_path(),method: :get, class: "btn btn-primary btn-fab " do%>
		<i class="material-icons">add</i>
	<%end%>
</div>
