<div class="container text-center">
	<div class="card patient text-left">
		<div class="actions absolute">
			<%= link_to "Editar", edit_patient_path(@patient),class: ""%>
			<%= link_to "Eliminar", patient_path(:id),method: :destroy, class: ""%>
		</div>
		<h1><%=@patient.first_name%> <%= @patient.last_name%></h1>
		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<strong>Codigo</strong>
				<p><%= @patient.code %></p>
				<strong>Numero de identificacion</strong>
				<p><%= @patient.identification_number%></p>
				<h3>Anotaciones sobre el paciente</h3>
				<p><%= @patient.annotations %></p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<strong>Edad:</strong>
				<p><%= @patient.age %></p>
				<strong>Sexo</strong>
				<p><%= @patient.sex %></p>
				<strong>Pais</strong>
				<p><%= @patient.country %></p>	
				<strong>Telefono</strong>
				<p><%= @patient.phone %></p>
				<strong>Correo electronico</strong>
				<p><%= @patient.email%></p>
				<%=link_to 'enviar email', patients_path, class: 'btn btn-inverse' %>
			</div>				
		</div>
	</div>
</div>
<div class="container text-center big-top-space">
	<div class="card patient text-left">
		<% if @patient.consultations.count != 0%>
			<div class="absolute actions">
				<strong><%= @patient.consultations.last.date %></strong>
			</div>
			<h1>Ultima consulta</h1>
			<div class="row">
				<div class="col-sm-8 col-xs-12">
					<h2>Diagnostico</h2>
					<p>
						<%= @patient.consultations.last.diagnosis%>
					</p>
				</div>
				<div class="col-sm-4 col-xs-12">
					<h2>Anotaciones</h2>
					<p>
						<%= @patient.consultations.last.annotations%>
					</p>
						<%= link_to 'Nueva consulta', new_consultation_path, class: 'btn btn-primary'%>
						<p><a href="#" class="">listado de consultas del paciente</a></p>
				</div>
			</div>
		<% else %>
			<div class="container text-center top-space">
				<div class="row">
					<div class="col-sm-6 col-xs-12 text-center">
							<h1 class="be-medium">Aun no hay consultas de este paciente</h1>
					</div>
					<div class="col-sm-6 col-xs-12">
						<%=link_to 'Agregar una nueva consulta', new_consultation_path , class: 'btn btn-inverse' %>
					</div>				
				</div>
			</div>
		<%end%>
	</div>
</div>
