<div class="container text-center top-space">
			<div class="card patient text-left">
				<div class="actions absolute">
					<% if current_user == @post.user %>
						<%= link_to "Editar", edit_event_url(@post), class: ""%>
						<%= link_to "Eliminar", @post,method: :destroy, class: "red-text"%>
					<% end %>
					<p class="text-right">Escrito por: <strong><%= @post.user.email %></strong></p>
				</div>
				<h1 class="be-medium"><%= @post.title%></h1>
				<div class="row">
					<div class="col-sm-8 col-xs-12 text-center">
							<p><%= @post.body %></p>
					</div>			
				</div>
			</div>
		</div>
