<!DOCTYPE html>
<html>
	<head>
		<title>Doctors Co - Plataforma que une medicos y pacientes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content='Doctors Co - La plataforma que une medicos y pacientes' property='og:title'>
		<meta content='DoctorsCo es la plataforma que une medicos y pacientes, en la que podras llevar el historial de tus pacientes, contactar con especialistas y llevar los resultados, diagnosticos y el historial medico a todas partes' property='og:description'>
		<meta content='https://www.doctorsco.net/' property='og:url'>
		<meta content='DoctorsCo' property='og:site_name'>
		<meta content='website' property='og:type'>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<%= render 'partials/navigation'%>
			<p class="large-padding special-green white-text text-center no-margin" style="<%= 'display: none;' if alert.nil? && notice.nil? %>">
				<%= alert %>
				<%= notice %>
				<span style="float: right;" class="close-parent">X</span>
			</p>
			<main class="mdl-layout__content full-height">
				<%= yield %>
			</main>
		</div>
	</body>
</html>
